<template name="footer">
  <div class="site-footer">
    <div class="container">
      <div class="footer-container">
        <div class='col-md-3 col-sm-3'>
          <ul class="menu">
            <h2>Experience 101</h2>
            <li><a href='//www.medallia.com/what-is-employee-experience/'>Employee Experience</a></li>
            <li><a href='//www.medallia.com/net-promoter-score/'>Net Promoter Score</a></li>
            <li><a href='//www.medallia.com/voice-of-the-customer/'>Voice of the Customer</a></li>
            <li><a href='//www.medallia.com/cem-software/'>CEM Software</a></li>
            <li><a href='//www.medallia.com/customer-experience-management/'>Customer Experience Management</a></li>
            <li><a href='//www.medallia.com/customer-retention/'>Customer Retention</a></li>
          </ul>
        </div>
        <div class='col-md-3 col-sm-3'>
          <ul class="menu">
            <h2>CX Platform</h2>
            <li><a href='//www.medallia.com/platform/text-analytics/'>Text Analytics</a></li>
            <li><a href='//www.medallia.com/platform/admin-suite/'>Admin Suite</a></li>
            <li><a href='//www.medallia.com/platform/ask-now/'>Ask Now</a></li>
            <li><a href='//www.medallia.com/platform/integration-layer/'>Integration Layer</a></li>
            <li><a href='//www.medallia.com/platform/insights-suite/'>Insights Suite</a></li>
            <li><a href='//www.medallia.com/platform/mobile/'>Mobile</a></li>
            <li><a href='//www.medallia.com/platform/voices/'>Voices</a></li>
            <li><a href='//www.medallia.com/platform/social/'>Social</a></li>
          </ul>
        </div>

        <div class='col-md-3 col-sm-3'>
          <ul class="menu">
            <h2>Company</h2>
            <li><a href='//www.medallia.com/about-us/'>About Medallia</a></li>
            <li><a href='//www.medallia.com/customers/'>Customers</a></li>
            <li><a href='//www.medallia.com/services/'>Services</a></li>
            <li><a href='//www.medallia.com/events/'>Events &amp; Virtual Experiences</a></li>
            <li><a href='//www.medallia.com/newsroom/'>Newsroom</a></li>
            <li><a href='//investor.medallia.com/?_ga=2.131261067.506501256.1611081558-731241454.1611081558'>Investors</a></li>
            <li><a href='//www.medallia.com/contact-us/'>Contact Us</a></li>
          </ul>
        </div>

        <div class='col-md-3 col-sm-3'>        
          <ul class="menu">
            <h2>Resources</h2>
            <li><a href='//www.medallia.com/solutions/covid-19/'>Navigating COVID-19</a></li>
            <li><a href='//www.medallia.com/blog/'>Blog</a></li>
            <li><a href='//www.medallia.com/leadership/'>Medallia Leadership Team</a></li>
            <li><a href='//www.medallia.com/partners/'>Partners</a></li>
            <li><a href='//www.medallia.com/data-protection/'>Data Protection</a></li>
            <li><a href='//experience.medallia.com/?_ga=2.199354538.506501256.1611081558-731241454.161108155'>Medallia Experience Conference</a></li>
            <li><a href='//www.medallia.com/careers/'>Careers</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>

        <div class='social-section text-center'>
          <img src='/images/medallia-logo-white.svg'>
          <ul>
            <li><a href='http://www.linkedin.com/company/49697?trk=tyah&trkInfo=tas%3Amedallia' target='_blank' class='linkedin'></a></li>
            <li><a href='https://twitter.com/medallia' target='_blank' class='twitter'></a></li>
            <li><a href='https://www.facebook.com/MedalliaInc' target='_blank' class='facebook'></a></li>
            <li><a href='http://blog.medallia.com' target='_blank' class='rss'></a></li>
          </ul>
        </div>

        <p class="copyright-text">Copyright © 2021. Medallia Inc. All rights reserved.</p>

        <p class="policies">
          <a href="http://www.medallia.com/terms-of-use/">Terms of Use</a>
          <a href="http://www.medallia.com/privacy/">Privacy Policy</a>
          <a href='//www.medallia.com/security/'>Security</a>
          <a href="http://www.medallia.com/medallia-environmental-policy/">Environmental Policy</a>
        </p>
        <p class="footer-paragraph">
          © 2021 Medallia, Inc. All rights reserved. Medallia®, the Medallia logo, and the names and marks associated with Medallia’s products are trademarks of Medallia and/or its affiliates. Net Promoter, Net Promoter Score and NPS are registered trademarks of Bain & Company, Inc., Fred Reichheld and Satmetrix Systems, Inc. All other trademarks are the property of their respective owners.
        </p>
      </div>
    </div>
  </div>
</template>
