<template name="header">
  <div class="navigation">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-header logo-centered visible-xs">
            <a class="" href="http://www.medallia.com/"><img src="/images/medallia-logo.svg" width="170" class="header-image"></a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <div class="main-navbar">
            <div class="navbar-header logo-centered hidden-xs">
              <a href="http://www.medallia.com/"><img src="/images/medallia-logo.svg" width="170" class="header-image"></a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  </template>
  
  