<template name="home">
<div class="home-content">
  <div class="description">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>Operational Customer Experience Management <div class="clearfix"></div>B2B Self-Assessment</h1>
      <p>How mature are your company’s customer experience practices?</p>
      <p>Answer 17 questions to assess your company's current approach with clients and partners (i.e., your 'customers'). The self-assessment will take about 10 minutes. At the end, you will receive a personalized report to help you identify opportunities to improve.</p>
    </div>
    <div class="get-started">
      <button class="btn btn-primary button" onclick="bind_get_started();">GET STARTED</button>
    </div>
  </div>
</div>
</template>
