<template name="questions">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="questions">
        <div id="question_1" class="question hidden" data-number="1" data-theme="wire">
          <h2 class="question-heading">How well is the financial impact of customer experience understood?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_1" id="q1_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q1_answer1">There are no reliable estimates of the impact of customer experience on financial outcomes.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_1" id="q1_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q1_answer2">Ad-hoc analysis is used to estimate the financial impact of customer experience but with inconsistent buy-in.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_1" id="q1_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q1_answer3">The impact of customer experience on financial outcomes is well understood and relied on centrally for strategic decision-making.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_1" id="q1_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q1_answer4">The financial impact of customer experience is understood at all levels of the organization, driving both strategic and operational decisions.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_1" id="q1_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q1_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_2" class="question hidden" data-number="2" data-theme="drive">
          <h2 class="question-heading">How do executives develop and support a customer-centric strategy?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_2" id="q2_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q2_answer1">Executives may talk about the importance of customers but there is no explicit strategy in place.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_2" id="q2_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q2_answer2">Customer experience is an explicit part of the company strategy and a named sponsor is in place, but with limited resources and cross-functional influence.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_2" id="q2_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q2_answer3">Customer experience is an explicit part of the company strategy, and a named sponsor and team are in place with the authority to drive cross-functional initiatives.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_2" id="q2_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q2_answer4">All executives model customer-centric leadership and collaborate closely with a dedicated customer experience team to drive cross-functional improvements.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_2" id="q2_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q2_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_3" class="question hidden" data-number="3" data-theme="innovate">
          <h2 class="question-heading">How does your company identify opportunities for improvement?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_3" id="q3_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q3_answer1">Intuition and business judgment are used to prioritize customer experience improvements, without any quantitative analysis.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_3" id="q3_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q3_answer2">A basic quantitative approach, such as improving low scores or addressing frequently mentioned complaints, is used to prioritize customer experience improvements.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_3" id="q3_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q3_answer3">Analytics are used to understand the underlying drivers of customer experience and prioritize improvement opportunities.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_3" id="q3_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q3_answer4">Analytics are coupled with cost/benefit analysis of potential solutions to prioritize improvement opportunities.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_3" id="q3_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q3_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_4" class="question hidden" data-number="4" data-theme="innovate">
          <h2 class="question-heading">How does your company learn from top performers?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_4" id="q4_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q4_answer1">The organization has no process to study or share practices of top-performing teams.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_4" id="q4_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q4_answer2">The organization shares stories from top-performing teams or individuals in an ad hoc manner.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_4" id="q4_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q4_answer3">The organization uses a centralized process to learn from top-performing teams and embed their practices more broadly.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_4" id="q4_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q4_answer4">The organization uses both a centralized process and peer-to-peer knowledge sharing to learn from top-performing teams and embed their practices more broadly.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_4" id="q4_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q4_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_5" class="question hidden" data-number="5" data-theme="drive">
          <h2 class="question-heading">How are customer experience responsibilities and goals defined?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_5" id="q5_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q5_answer1">Customer experience responsibilities and goals are not clearly defined.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_5" id="q5_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q5_answer2">Customer experience responsibilities and goals are defined for some teams, usually customer-facing roles.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_5" id="q5_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q5_answer3">Customer experience responsibilities and goals are defined for all employees, logically cascading from executives to the front line.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_5" id="q5_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q5_answer4">Customer experience responsibilities and goals are defined for all employees, with specific action plans developed and adopted by every team.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_5" id="q5_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q5_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_6" class="question hidden" data-number="6" data-theme="drive">
          <h2 class="question-heading">How does your company reinforce customer-centric behaviors?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_6" id="q6_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q6_answer1">No customer experience training, coaching, or recognition programs are in place.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_6" id="q6_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q6_answer2">Customer-centric behaviors are embedded through training, coaching, or recognition programs, primarily for customer-facing roles.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_6" id="q6_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q6_answer3">Customer-centric behaviors are embedded through training, coaching, and recognition programs for all roles.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_6" id="q6_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q6_answer4">Customer-centric behaviors are deeply embedded as a cultural priority, affecting everything from hiring decisions to training, coaching, and career advancement.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_6" id="q6_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q6_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_7" class="question hidden" data-number="7" data-theme="wire">
          <h2 class="question-heading">How do employees access customer feedback?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_7" id="q7_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q7_answer1">Feedback is controlled by a centralized team or held in departmental silos.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_7" id="q7_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q7_answer2">Some employees, including executives and service-related teams, have direct access to customer feedback.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_7" id="q7_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q7_answer3">All employees who impact the experience, including non-customer facing roles, have direct access to customer feedback.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_7" id="q7_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q7_answer4">All employees who impact the experience, as well as key delivery partners and distributors, have direct access to customer feedback.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_7" id="q7_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q7_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_8" class="question hidden" data-number="8" data-theme="wire">
          <h2 class="question-heading">How tailored is customer feedback data to individual roles?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_8" id="q8_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q8_answer1">Feedback is provided in a generic form with no link to specific employees who impacted the experience.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_8" id="q8_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q8_answer2">Some role-based reports are available, but feedback is not tied to specific employees who impacted the experience.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_8" id="q8_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q8_answer3">Role-based reports are available, and feedback is linked to specific employees who impacted the experience.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_8" id="q8_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q8_answer4">Role-based reports are available, feedback is linked to specific employees, and analytics provide the flexibility to explore emerging questions.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_8" id="q8_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q8_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_9" class="question hidden" data-number="9" data-theme="drive">
          <h2 class="question-heading">How does your company follow up with customers who provide feedback?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_9" id="q9_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q9_answer1">Minimal to no follow-up action is taken when customers provide feedback.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_9" id="q9_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q9_answer2">Customer-facing teams follow up only with dissatisfied customers and there is no defined process to capture learning.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_9" id="q9_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q9_answer3">Customer-facing teams follow up on all actionable feedback in a timely manner and share learning internally.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_9" id="q9_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q9_answer4">Customer-facing and cross-functional teams collaborate to address all actionable feedback in a timely manner, and root causes are systematically captured and analyzed.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_9" id="q9_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q9_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_10" class="question hidden" data-number="10" data-theme="innovate">
          <h2 class="question-heading">How does your company address the root cause of customer experience problems?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_10" id="q10_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q10_answer1">The company has no process to address root causes of customer dissatisfaction.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_10" id="q10_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q10_answer2">Individual teams identify sources of dissatisfaction and address issues within their control.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_10" id="q10_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q10_answer3">Individual and cross-functional teams systematically identify and address root causes of dissatisfaction to fix problems.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_10" id="q10_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q10_answer4">Individual and cross-functional teams systematically identify and address root causes of dissatisfaction to fix problems and create new and differentiated experiences.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_10" id="q10_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q10_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_11" class="question hidden" data-number="11" data-theme="innovate">
          <h2 class="question-heading">How does your company test product and service innovations?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_11" id="q11_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q11_answer1">Product and service innovation is slow, reactive, or done without meaningful customer or market validation.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_11" id="q11_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q11_answer2">Customer or market validation is used occasionally to improve shortcomings in customer experience.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_11" id="q11_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q11_answer3">Customer or market validation is used regularly by a centralized team to test product and service innovation ideas.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_11" id="q11_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q11_answer4">Customer or market validation is used by multiple teams across the business to continuously test product and service innovation ideas.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_11" id="q11_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q11_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_12" class="question hidden" data-number="12" data-theme="see">
          <h2 class="question-heading">How does your company capture a complete view of the customer experience?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_12" id="q12_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q12_answer1">No systematic process exists for capturing customer experience feedback.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_12" id="q12_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q12_answer2">Feedback is tracked only for certain interactions, product lines, or geographies.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_12" id="q12_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q12_answer3">Feedback is tracked for the overall relationship and all key interactions, product lines, and geographies.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_12" id="q12_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q12_answer4">Feedback is tracked for the overall relationship and all key interactions, product lines, and geographies, including feedback initiated by the customer and interactions that cross channels.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_12" id="q12_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q12_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_13" class="question hidden" data-number="13" data-theme="see">
          <h2 class="question-heading">How does your company ensure timely customer feedback?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_13" id="q13_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q13_answer1">Feedback is only captured on an ad-hoc basis.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_13" id="q13_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q13_answer2">Feedback is collected on a regular basis but not in a timely or automated way.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_13" id="q13_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q13_answer3">Feedback is collected on a regular basis, immediately following customer interactions, and in an automated way.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_13" id="q13_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q13_answer4">Feedback is collected in a continuous, timely, automated way, including feedback provided by customers during an interaction.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_13" id="q13_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q13_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_14" class="question hidden" data-number="14" data-theme="wire">
          <h2 class="question-heading">How does your company link customer feedback to operational and financial data?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_14" id="q14_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q14_answer1">Customer feedback is not linked to customer profile information, operational data, or financial data.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_14" id="q14_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q14_answer2">Customer feedback is automatically linked to customer profile information, but must be manually linked to operational or financial data.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_14" id="q14_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q14_answer3">Customer feedback is automatically linked to customer profile information, and to relevant operational and financial data.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_14" id="q14_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q14_answer4">Customer feedback is automatically linked to customer profile information, and to relevant operational and financial data, with similar data linkages for non-responders.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_14" id="q14_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q14_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_15" class="question hidden" data-number="15" data-theme="see">
          <h2 class="question-heading">How well does your customer feedback data represent your actual customer mix?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_15" id="q15_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q15_answer1">No mechanisms are in place to track whether feedback data reflects the actual customer mix.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_15" id="q15_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q15_answer2">Low response rates or inconsistent data collection methods cause certain segments or roles to be under-represented in feedback data.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_15" id="q15_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q15_answer3">The company captures sufficient data to understand the experiences of each key customer segment.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_15" id="q15_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q15_answer4">The company uses segmentation and targeted sampling to ensure that feedback reflects the actual customer mix.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_15" id="q15_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q15_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_16" class="question hidden" data-number="16" data-theme="see">
          <h2 class="question-heading">How easy is it for customers to give feedback?</h2>
          <p class="question-title">Please choose the statement that best describes your company’s practices.</p>

          <div class="options">
            <div class="answer answer1">
              <input type="radio" name="question_16" id="q16_answer1" value="option1" class="css-radio">
              <label class="css-label" for="q16_answer1">Customers find it difficult to provide feedback directly to the company.</label>
            </div>

            <div class="answer answer2">
              <input type="radio" name="question_16" id="q16_answer2" value="option2" class="css-radio">
              <label class="css-label" for="q16_answer2">Customers find it easy to give solicited feedback but difficult to give unsolicited feedback.</label>
            </div>

            <div class="answer answer3">
              <input type="radio" name="question_16" id="q16_answer3" value="option3" class="css-radio">
              <label class="css-label" for="q16_answer3">Customers find it easy to give solicited and unsolicited feedback.</label>
            </div>

            <div class="answer answer4">
              <input type="radio" name="question_16" id="q16_answer4" value="option4" class="css-radio">
              <label class="css-label" for="q16_answer4">Customers find it easy to provide both solicited and unsolicited feedback, and the company regularly tests innovative ways of collecting feedback.</label>
            </div>

            <div class="answer answer5">
              <input type="radio" name="question_16" id="q16_answer5" value="option5" class="css-radio">
              <label class="css-label" for="q16_answer5">I don't know.</label>
            </div>
          </div>
        </div>

        <div id="question_17" class="question hidden" data-number="17" data-theme="see">
          <h2 class="question-heading">How would you define customer experience success for your business in the next 12-24 months? (Optional)</h2>

          <div class="options hidden">
            <div class="answer answer1">
              <input type="radio" name="question_17" class="css-radio" checked="checked">
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <div class="first-name">
                <textarea rows="14" id="comment_body" class="form-control comment-body" maxlength="1000"></textarea>
                <div class="characters-count-section">
                  Characters: <span class="characters-count">0</span>/1000
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
